/* Sakura.css v1.4.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */
html:not(.full-app) {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body:not(.full-app) {
    font-size: 1.8rem;
    line-height: 1.618;
    color: #4a4a4a;
    background-color: #f9f9f9;
}

.main {
    max-width: 38em;
    margin: auto;
    padding: 13px;
}

@media (max-width: 684px) {
    body:not(.full-app) {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body:not(.full-app) {
        font-size: 1.35rem;
    }
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
}

.main h1 {
    font-size: 2.35em;
}

.main h2 {
    font-size: 2em;
}

.main h3 {
    font-size: 1.75em;
}

.main h4 {
    font-size: 1.5em;
}

.main h5 {
    font-size: 1.25em;
}

.main h6 {
    font-size: 1em;
}

.main p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.main small,
.main sub,
.main sup {
    font-size: 75%;
}

.main hr {
    border-color: #1d7484;
}

.main a {
    text-decoration: none;
    color: #1d7484;
}

.main a:visited {
    color: #144f5a;
}

.main a:hover {
    color: #982c61;
    border-bottom: 2px solid #4a4a4a;
}

.main ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.main li {
    margin-bottom: 0.4em;
}

.main blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-right: 0.8em;
    border-left: 5px solid #1d7484;
    margin-bottom: 2.5rem;
    background-color: #f1f1f1;
}

.main blockquote p {
    margin-bottom: 0;
}

.main img,
.main video {
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

.main pre {
    background-color: #f1f1f1;
    display: block;
    padding: 1em;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    font-size: 0.9em;
}

.main code,
.main kbd,
.main samp {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #f1f1f1;
    white-space: pre-wrap;
}

.main pre > code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
    font-size: 1em;
}

.main table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

.main td,
.main th {
    padding: 0.5em;
    border-bottom: 1px solid #f1f1f1;
}

.main input,
.main textarea {
    border: 1px solid #4a4a4a;
}

.main input:focus,
.main textarea:focus {
    border: 1px solid #1d7484;
}

.main textarea {
    width: 100%;
}

.main .button,
.main button,
.main input[type="submit"],
.main input[type="reset"],
.main input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #1d7484;
    color: #f9f9f9;
    border-radius: 1px;
    border: 1px solid #1d7484;
    cursor: pointer;
    box-sizing: border-box;
}

.main .button[disabled],
.main button[disabled],
.main input[type="submit"][disabled],
.main input[type="reset"][disabled],
.main input[type="button"][disabled] {
    cursor: default;
    opacity: 0.5;
}

.main .button:focus:enabled,
.main .button:hover:enabled,
.main button:focus:enabled,
.main button:hover:enabled,
.main input[type="submit"]:focus:enabled,
.main input[type="submit"]:hover:enabled,
.main input[type="reset"]:focus:enabled,
.main input[type="reset"]:hover:enabled,
.main input[type="button"]:focus:enabled,
.main input[type="button"]:hover:enabled {
    background-color: #982c61;
    border-color: #982c61;
    color: #f9f9f9;
    outline: 0;
}

.main textarea,
.main select,
.main input {
    color: #4a4a4a;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.main textarea:focus,
.main select:focus,
.main input:focus {
    border: 1px solid #1d7484;
    outline: 0;
}

.main input[type="checkbox"]:focus {
    outline: 1px dotted #1d7484;
}

.main label,
.main legend,
.main fieldset {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
